<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel='stylesheet' type='text/css' href='libs/bootstrap.min.css' />
        <link rel='stylesheet' type='text/css' href='stylesheets/style.css' />
      
        <!-- Include Moxtra JavaScript Library -->
        <script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="ixrzAE6AUYQ"></script>

        <!-- Include External JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
        <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>

    </head>
    <body>
        <div class="container text-center">
            <h1 style="margin-top:75px">AcaOffice</h1>
            <img src="media/images/logo.png" width="150">
            <h4>
              Enter your screen name:
            </h4>
            <form id="name-form" class="text-center">
              <input placeHolder="Screen Name" class="form-control" id="screen-name" style="width:250px; margin:10px auto;">
              <button type="submit" class="btn btn-warning">Let me in!</button>
            </form>
        </div>
    </body>
    
    <script>
      $("#name-form").submit(function() {
        // need to check for valid screen name
        var screenName = ("#screen-name").val().trim();
        
        if (screenName != "") {
          name= screenName;
          var options = {
              session_key: @meet,
              user_name: name,
              iframe: true,
              extension: { "show_dialogs": { "meet_invite": true } },
              start_meet: function(event) {
                  alert("session key: " + event.session_key + " session id: " + event.session_id);
              },
              error: function(event) {
                  alert("error code: " + event.error_code + " message: " + event.error_message);
              },
              end_meet: function(event) {
                  alert("Meet ended by host event");
              },
              exit_meet: function(event) {
                  alert("Meet exit event");
              }
          };
          Moxtra.joinMeet(options);
        }
        return false;
      });
      
    </script>
  
</html>