body#index {
  background: url("http://startbootstrap.com/templates/stylish-portfolio/img/bg.jpg") no-repeat center center scroll;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica,Arial, sans-serif;
  text-align: center;
}

h1 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 4.5em;
  font-weight: 700;
  color: #333;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}