body#index {
  background: #FBFBFB;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica,Arial, sans-serif;
  text-align: center;
}

h1 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 4.5em;
  font-weight: 700;
  color: #333;
}
body {
  background:#ccc;
}